.App {
  font-family: Arial, sans-serif;
}

/* navbar css */
#navbar-system {
  background-color: #ffffff; /* Set your desired background color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
#navbar-system a {
  color: #fff; /* Set the color of links */
  margin-right: 15px; /* Add right margin to space out the links */
  text-decoration: none; /* Remove default link underline */
}

#navbar-system a:hover {
  text-decoration: underline; /* Underline links on hover */
}

#search-bar {
  position: absolute;
  left: 10%;
  top: 65%;
  right: 10%;
  width: "100%";
  z-index: 1;
}

@media (max-width: 767px) {
  #search-bar {
    position: relative;
    left: 0;
    top: auto;
    right: 0;
  }
}

/* color option for background */
#bg-grey {
  background-color: rgb(240, 235, 235);
}

/* category components button style code */
#category-btn {
  border: 1;
}

/* topworker component style code */
#card-style {
  width: 250px;
  height: 500px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* padding: 16px; */
  text-align: center;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#more-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#card-image {
  padding: 2px;
  height: 250px;
  width: 250px;
}

#profile-description {
  font-size: small;
  font-weight: bold;
  text-decoration: underline;
}

/* footer style code */

#footer-logo {
  height: 50px;
  width: auto;
}

.social-media {
  height: 50px;
}

.copyright {
  margin-top: 10px;
  background-color: green;
  color: white;
}

/* add category page style */

#add-category {
  display: flex;
  justify-content: center;
  background: aliceblue;
  width: auto;
  border-radius: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* add member page style */
#add-member {
  display: flex;
  justify-content: center;
  background: aliceblue;
  width: auto;
  border-radius: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* dashboard load page style to show job list */
#job-style {
  display: flex;
  justify-content: center;
  background: aliceblue;
  width: auto;
  padding: 2%;
  border-radius: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
